@import "tailwindcss";

@theme {
  --color-primary: #00956F;
  --color-primary-hover: #00B387;
  --color-primary-lite: #E5F7F2;
  --color-text-dark: #1F1F1F;
  --color-text-light: #FFFFFF;
  --color-text-muted: #6B6B6B;
  --color-background: #F8F9FA;
  --color-neutral: #E9ECEF;
  --color-accent: #FFD369;
  --color-danger: #D72638;
  --color-success: #00A676;
  --color-dark-background: #121212;
  --color-dark-surface: #1C1C1C;
  --color-dark-primary: #00B387;
  --color-dark-primary-hover: #00C79A;
  --color-dark-text-light: #FFFFFF;
  --color-dark-text-muted: #A0A0A0;
  --color-dark-border: #2A2A2A;
  --color-dark-input: #1E1E1E;
  --color-dark-success: #00C896;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
